/*Color scheme*/
:root {
  --white-fg:		#edf6f9;
  --black-fg:		#003049;

  --header-bg:		#22223b;
  --alfabeto-bg:	#4a4e69;
  --automata-bg:	#9a8c98;
  --etiquetas-bg:	#ddbea9;
  --operacion-bg:	#f2e9e4;

  --red:		#e55039;
  --yellow:		#ffe6a7;
  --orange:		#fa983a;
  --blue:		#4a69bd;
  --green:		#78e08f;
}
